<div class="row">
	<div class="col-md-12">
		<mgl-map
		    [style]="'mapbox://styles/mapbox/streets-v9'"
		    [zoom]="[14]"
		    [center]="[result.x, result.y]"
		    *ngIf="visible"
		>	
			<mgl-layer
			    id="state-borders"
			    type="fill"
			    [source]="{
		            'type': 'geojson',
		            'data': {
		                'type': 'Feature',
		                'geometry': {
		                    'type': 'Polygon',
		                    'coordinates': [[
		                    	[extent.xmin, extent.ymin],
		                        [extent.xmax, extent.ymin],
		                        [extent.xmax, extent.ymax],
		                        [extent.xmin, extent.ymax]
		                        ]]
		                }
		            }
		        }"
			    [paint]="{
			      'fill-color': '#088',
			      'fill-opacity': 0.8
			    }"
			  ></mgl-layer>

			  <mgl-layer
			    id="point"
			    type="circle"
			    [source]="{
			    	'type': 'geojson',
			    	'data' : {
			    		'type' : 'Point',
			    		'coordinates': [
			    				result.x, result.y
		    				]
			    	}
				}"
			    [paint]="{
			      'circle-radius': 10,
			      'circle-color': '#f00'
			    }"
			  ></mgl-layer>
			<!-- <mgl-marker
			    [lngLat]="[result.x, result.y]"
			   	>
			    <img src="https://static.tonicdev.com/assets/vendor/leaflet/images/marker-icon.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0">
			</mgl-marker> -->
		</mgl-map>
	</div>
</div>
<div class="row" *ngIf="visible">
	<div class="col-md-12 text-center">
		<button class="btn btn-primary" (click)="toWatson()">Yes</button>
		<button class="btn btn-secondary" (click)="clear()">No</button>
	</div>
</div>
